This document is manually updated.

| Device / Group                                         | Type                                   | Schedule  | Last Check                                                  |
|--------------------------------------------------------|----------------------------------------|-----------|-------------------------------------------------------------|
| [Mikrotik RouterOS](networking/mikrotik/README.md)     | [Networking](networking/README.md)     | Daily     | [2022-02-13](networking/mikrotik/README.md#2022-02-13)      |
| [Aruba ArubaOS](networking/aruba/README.md)            | [Networking](networking/README.md)     | Daily     | [2022-02-25](networking/aruba/README.md#2022-02-25)         |
| [Firebrick](networking/firebrick/README.md)            | [Networking](networking/README.md)     | Daily     | [2022-02-25](networking/firebrick/README.md#2022-02-25)     |