[Unit]
Description=Backup
ConditionPathExists=/backup/scripts/to_syno.sh

[Service]
Type=oneshot
ExecStart=/backup/scripts/to_syno.sh
WorkingDirectory=/backup/scripts/
